* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*

posible paleta de colores para poder usar 
Nombre	Código HEX
Negro	#000000
Dorado	#FFD700
Marrón	#8B4513
Crema	#FFF8DC
Verde Oscuro	#006400
Gris Oscuro	#2F4F4F
Borgoña	#800020 

*/

/*HEADER*/

.logo-header {
    width: 50%;
    height: 50px;
}

header {
    background-color: rgb(236, 231, 220);
    box-shadow: 1.5px 1.5px 4px #b3b3b3;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    transition: 5 0ms all ease-in-out;
}
/*
header.transparente {
    background-color: transparent;
    box-shadow: none;
}*/



header nav {
    color: #b3b3b3;
    font-weight: normal;
    margin-left: 1em;
    transition: all 300ms ease-in-out
}

/*HEADER NAV*/

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

nav a {
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    color: black;
    padding: 5px 5px; 
    transition: background-color 0.3s ease; /* transición lenta para el cambio de color de fondo, podemos cambiar la velocidad cualqueir cosa */
}

nav a:hover {
    background-color: #FFD700;
    border-radius: 10px;    
}

/*MENU LATERAL*/

/*manu lateral*/

.menu {
    width: 360px;
    height: 100vh;
    background-color: #424242e7;
    position: fixed;
    top: 0;
    left: -360px;
    padding-top: 40px;
    transition: all 800ms ease-in-out;
    z-index: 2;
}

.menu.abierto {
    left: 0;
}

.menu nav {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.menu nav a {
    padding: 0.6rem;
    color: rgba(255, 255, 255, 0.75);
    transition: 300ms all ease-in-out;
}

.menu nav a:hover {
    color: white;
}

.menu .copyright {
    color: rgba(255, 255, 255, 0.75);
    font-size: 0.9rem;   
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    text-align: center;
    width: 100;
}
/*BURGUER DE MENU*/ 

#burger {
    position: fixed;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
    z-index: 10;
    display: none;
}

#burger .barra {
    width: 30px;
    height: 2px;
    margin: 6px;
    background-color: #a97c50;
    transition: 400ms all ease-in-out;
}

#burger.abierto .barra {
    background-color: white;
}
#burger.abierto .barra.superior {
    transform: translateY(8px) rotateZ(45deg);
}
#burger.abierto .barra.media {
    width: 0;
}
#burger.abierto .barra.inferior {
    transform: translateY(-8px) rotateZ(-45deg);
}

/*BANNER*/

.banner {
    width: 100%; 
    height: auto; 
    display: block; 
    opacity: 80%;
}

.tituloBanner{
    color: white;
    font-size: 4.5rem;
    text-align: center;
    top: -600px;
    position: relative;
    text-shadow:  7px 8px 4px rgba(0, 0, 0, 0.5);
}

.btnBanner{
    display: block;
    margin: auto;
    position: relative;
    top: -32rem;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #FFD700;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.btnBanner:hover {
    border: solid 1px black;
    cursor: pointer;
}

.volver {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #FFD700;
    padding: 10px;
    border-radius: 50%; 
    transition: background-color 0.3s;
}

.volver:hover {
    background-color: #302a1f;
}


.promociones {
    display: flex;
    flex-direction: row-reverse;
}

.aside-suscripcion {
 /* Ajusta el ancho del aside */
    margin-left: 10px;
    margin-right: 200px; /* Cambia el orden para que aparezca al final */
    text-align: center; /* Centra el contenido */
}

.carrousel-imagenes {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.carrousel-imagenes ul{
    display: flex;
    position: absolute;
    width: 300%;
    left: 0;
    animation: deslizar 20s infinite linear;
}

.carrousel-imagenes li {
    width: 33.33%;
    list-style: none;
}

.carrousel-imagenes img {
    width: 100%;
    height: auto;
}

@keyframes deslizar{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

.nosotros-somos {
    display: flex;
    flex-direction: row-reverse;
    margin: 15px;
    padding: 2px;
}
.img-quienes-somos {
    width: 700px;
}

.formulario {
padding: 50px;  
}

footer {
    background-color: black;
}

.postBanner h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-size: 5rem;
    color: #FFD700;
    margin: auto;
    margin-top: -100px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(48, 42, 31, 0.8);
}

.opciones{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 25px;
    
}

.cajas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 22%;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    border-radius: 8px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    border: 1px solid #ddd; 
    padding: 20px; 
    margin: 10px; 
}

.cajas h3 {
    color:#a97c50;
    font-family: monospace;
    font-size: 2rem;
}

.cajas p {
    color:#000000;
    font-family: monospace;
    font-size: 1rem;
    margin-top: 5px;
}

.cajas .icono {
    font-size: 32px;
    margin-top: 10px;
    color:#FFD700;
}


/*Responsive*/



@media (max-width: 620px) {
    #burger {
        display: block;
    }
    
    header {
        justify-content: flex-end;
    }

    header nav {
        display: none;
    }
}
