* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* paleta de colores para poder usar 
Nombre	Código HEX
Negro	#000000
Dorado	#FFD700
Marrón	#8B4513
Crema	#FFF8DC
Verde Oscuro	#006400
Gris Oscuro	#2F4F4F
Borgoña	#800020 */

